@charset "UTF-8";
/* app.sass */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ul,
ol {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

em,
dfn,
i {
  font-style: normal; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: none; }

input,
select {
  vertical-align: middle; }

input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

input[type="checkbox"] {
  appearance: none; }

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

/*font style asset*/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype"); }

.svg-icon-important-ver-2-14, .svg-icon-share-14, .svg-icon-tmi-checkflag-01, .svg-icon-tmi-sademotion-01, .svg-icon-tmi-trophy-01, .svg-icon-view-14 {
  background: url("/svg/sprite.css-7b813607.svg") no-repeat; }

.svg-icon-important-ver-2-14 {
  background-position: 58.8235294117647% 58.8235294117647%; }

.svg-icon-important-ver-2-14-dims {
  width: 18px;
  height: 18px; }

.svg-icon-share-14 {
  background-position: 76.47058823529412% 58.8235294117647%; }

.svg-icon-share-14-dims {
  width: 18px;
  height: 18px; }

.svg-icon-tmi-checkflag-01 {
  background-position: 0 0; }

.svg-icon-tmi-checkflag-01-dims {
  width: 60px;
  height: 60px; }

.svg-icon-tmi-sademotion-01 {
  background-position: 100% 0; }

.svg-icon-tmi-sademotion-01-dims {
  width: 60px;
  height: 60px; }

.svg-icon-tmi-trophy-01 {
  background-position: 0 100%; }

.svg-icon-tmi-trophy-01-dims {
  width: 60px;
  height: 60px; }

.svg-icon-view-14 {
  background-position: 94.11764705882354% 58.8235294117647%; }

.svg-icon-view-14-dims {
  width: 18px;
  height: 18px; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-weight: 500;
  overflow-x: hidden; }

.mobile {
  display: block; }

.desktop {
  display: none; }

#main {
  background-color: #fff;
  /* app.sass */ }
  #main header {
    position: relative;
    min-width: 375px;
    height: 60px;
    z-index: 2; }
    #main header .contents {
      position: relative;
      line-height: 60px; }
      #main header .contents .tmi {
        vertical-align: middle;
        width: 52px;
        height: 20px;
        margin-left: 20px; }
      #main header .contents .menu-right {
        position: absolute;
        top: 5px;
        right: 20px; }
  #main main {
    position: relative; }
    #main main .bg-left-top {
      position: absolute;
      display: inline-block;
      top: -166px;
      left: -200px;
      width: 601px;
      height: 332px;
      background-image: url(/img/bg-top-left-01.png);
      background-position: 601px 332px;
      z-index: 1;
      animation: leftmove 5s ease-in infinite; }

@keyframes leftmove {
  0% {
    left: -200px; }
  30% {
    left: -120px; }
  50% {
    left: -100px; }
  75% {
    left: -90px; }
  100% {
    left: -200px; } }
    #main main .bg-right-top {
      position: absolute;
      display: inline-block;
      top: -86px;
      right: -180px;
      width: 298px;
      height: 308px;
      background-image: url(/img/bg-top-right-01.png);
      background-position: 298px 308px;
      z-index: 1;
      animation: rightmove 5s ease-in-out infinite; }

@keyframes rightmove {
  0% {
    right: -180px; }
  30% {
    right: -130px; }
  50% {
    right: -100px; }
  75% {
    right: -90px; }
  100% {
    right: -180px; } }
    #main main .bg-left-bottom {
      position: absolute;
      display: inline-block;
      bottom: -85px;
      left: 0px;
      width: 288px;
      height: 146px;
      background-image: url(/img/bg-bottom-left-01.png);
      z-index: 1;
      animation: bleftmove 5s ease-in infinite; }

@keyframes bleftmove {
  0% {
    left: 0px; }
  30% {
    left: -20px; }
  50% {
    left: -30px; }
  75% {
    left: -35px; }
  100% {
    left: 0px; } }
    #main main .bg-right-bottom {
      display: none; }
    #main main .bg-dao {
      position: absolute;
      bottom: -85px;
      right: 0px;
      width: 137px;
      height: 135px;
      background-image: url(/img/rolling-charactor.png);
      background-size: cover;
      z-index: 1; }
    #main main .bg-point {
      position: absolute;
      display: inline-block;
      bottom: 15%;
      left: 20%;
      width: 42px;
      height: 42px;
      background-image: url(/img/combined-shape-copy-14.png);
      z-index: 1;
      transform-origin: 300px -300px;
      animation: bingle 7s linear infinite; }

@keyframes bingle {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
    #main main .bg {
      position: absolute;
      display: block;
      width: 100%;
      padding-top: calc(160px - 60px);
      text-align: center; }
      #main main .bg img {
        width: 100%;
        animation: spin 5s ease-in infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(20deg); }
  50% {
    transform: rotate(30deg); }
  75% {
    transform: rotate(-20deg); }
  85% {
    transform: rotate(100deg); }
  90% {
    transform: rotate(80deg); }
  100% {
    transform: rotate(10deg); } }
    #main main section {
      position: relative;
      padding: 0px 27px;
      padding-top: calc(257px - 60px);
      padding-bottom: 300px;
      transition: all .3s ease-in;
      text-align: center; }
      #main main section .search .txt {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        text-align: center; }
        #main main section .search .txt .helloworld {
          position: relative;
          display: inline-block;
          z-index: 1; }
          #main main section .search .txt .helloworld::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            display: inline-block;
            width: 100%;
            height: 8px;
            background-color: #23b9ff;
            z-index: -1; }
      #main main section .search .visual {
        margin: 0 auto;
        margin-top: 7px; }
        #main main section .search .visual img {
          width: 210px;
          height: 70px; }
      #main main section .search .subtitle div {
        display: inline-block;
        width: 200px;
        height: 10px; }
      #main main section .search.active .txt {
        position: fixed;
        width: 100%;
        top: 36px;
        left: 0px;
        z-index: 3; }
      #main main section .search.active .searchbar {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        max-width: 100%;
        margin-top: 0px;
        padding-top: 85px;
        border-radius: 0px;
        box-shadow: none;
        z-index: 2; }
        #main main section .search.active .searchbar .current {
          display: block;
          padding-left: 20px;
          text-align: left;
          border-top: 1px solid #ddd;
          background-color: #fff; }
          #main main section .search.active .searchbar .current .desc {
            font-size: 12px;
            color: #bbb;
            height: 62px;
            line-height: 62px; }
          #main main section .search.active .searchbar .current ul li {
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 300;
            color: #666666; }
            #main main section .search.active .searchbar .current ul li:last-child {
              margin-bottom: 100px; }
      #main main section .search .searchbar {
        margin: 0 auto;
        margin-top: 28px;
        max-width: 100%;
        height: 70px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
        background-color: #fff;
        color: #000;
        transition: all .3s ease-in; }
        #main main section .search .searchbar form {
          padding: 23px 20px;
          background-color: #fff;
          border-radius: 10px; }
          #main main section .search .searchbar form .contents {
            display: flex;
            height: 24px; }
            #main main section .search .searchbar form .contents .select {
              position: relative;
              -webkit-transition: opacity 0.5s;
              /* Safari */
              transition: opacity 0.5s; }
              #main main section .search .searchbar form .contents .select label {
                width: 47px;
                height: 24px;
                line-height: 24px;
                font-weight: 400;
                font-size: 16px;
                display: block;
                box-sizing: border-box;
                color: #000;
                background: transparent;
                text-align: left; }
                #main main section .search .searchbar form .contents .select label:before {
                  content: "";
                  position: absolute;
                  top: 12px;
                  right: 0px;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid #000; }
              #main main section .search .searchbar form .contents .select select {
                width: 47px;
                height: 24px;
                line-height: 24px;
                font-weight: 400;
                font-size: 16px;
                position: absolute;
                top: 0px;
                left: 0px;
                border: 0;
                opacity: 0;
                /* 숨기기 */
                filter: alpha(opacity=0);
                /* IE8 숨기기 */
                -webkit-appearance: none;
                /* 네이티브 외형 감추기 */
                -moz-appearance: none;
                appearance: none; }
            #main main section .search .searchbar form .contents input {
              width: 100%;
              height: 24px;
              line-height: 24px;
              padding-left: 18px;
              outline: 0;
              border: 0;
              display: block;
              font-size: 16px;
              font-weight: 400;
              color: #000;
              background: transparent;
              font-family: "Noto Sans KR"; }
            #main main section .search .searchbar form .contents .btn {
              height: 24px;
              line-height: 24px;
              font-size: 16px;
              font-weight: 400;
              color: #000;
              background-color: transparent;
              border: none;
              outline: 0; }
              #main main section .search .searchbar form .contents .btn img {
                width: 18px;
                vertical-align: middle; }
        #main main section .search .searchbar .current {
          display: none; }
  #main footer {
    position: relative;
    z-index: 2; }
    #main footer .wrapper {
      padding: 0px 20px 17px 20px;
      text-align: left; }
      #main footer .wrapper .logos {
        height: 20px;
        line-height: 20px; }
        #main footer .wrapper .logos .nexon {
          width: 63px;
          vertical-align: middle; }
        #main footer .wrapper .logos i {
          margin-left: 5px;
          margin-right: 5px;
          font-size: 10px;
          vertical-align: middle; }
        #main footer .wrapper .logos .labs {
          width: 74px;
          object-fit: contain;
          vertical-align: middle; }
      #main footer .wrapper .policy {
        margin-top: 10px;
        font-size: 11px;
        color: #666666; }
      #main footer .wrapper .copy {
        margin-top: 4px;
        font-size: 11px;
        color: #bbb; }
  @media only screen and (min-width: 769px) {
    #main .mobile {
      display: none; }
    #main .desktop {
      display: block; }
    #main header {
      padding-top: 6px;
      min-width: 375px;
      height: 60px;
      background-color: transparent; }
      #main header .contents {
        position: relative;
        line-height: 60px; }
        #main header .contents .tmi {
          width: initial;
          height: initial; }
        #main header .contents .menu-center {
          position: absolute;
          top: 0px;
          left: 50%;
          font-size: 16px;
          transform: translate(-50%, 0%); }
          #main header .contents .menu-center ul {
            display: flex; }
            #main header .contents .menu-center ul li {
              margin-left: 70px;
              font-weight: 400;
              cursor: pointer; }
              #main header .contents .menu-center ul li:first-child {
                margin-left: 0px; }
              #main header .contents .menu-center ul li.active {
                font-weight: bold; }
              #main header .contents .menu-center ul li:hover {
                font-weight: bold; }
          #main header .contents .menu-center .underbar {
            position: absolute;
            top: 42px;
            left: 0px;
            display: inline-block;
            width: 30px;
            height: 2px;
            background-color: #000;
            transition: left .3s ease-in; }
            #main header .contents .menu-center .underbar.rank {
              left: calc(30px + 70px); }
            #main header .contents .menu-center .underbar.kart {
              left: calc(30px + 70px + 30px + 70px); }
            #main header .contents .menu-center .underbar.track {
              left: calc(30px + 70px + 30px + 70px + 30px + 70px); }
    #main main .bg-left-top {
      top: -66px;
      left: 0px;
      width: 601px;
      height: 332px;
      background-position: 601px 332px; }
    #main main .bg-right-top {
      top: -86px;
      right: 0px;
      width: 298px;
      height: 308px;
      background-position: 298px 308px; }
    #main main .bg-left-bottom {
      bottom: -64px;
      left: 0px;
      width: 288px;
      height: 146px; }
    #main main .bg-right-bottom {
      position: absolute;
      display: inline-block;
      bottom: -64px;
      right: 0px;
      width: 818px;
      height: 302px;
      background-image: url(/img/bg-bottom-right-01.png);
      z-index: 1;
      animation: brightmove 5s ease-in infinite; }
    @keyframes brightmove {
      0% {
        right: 0px; }
      30% {
        right: -20px; }
      50% {
        right: -30px; }
      75% {
        right: -35px; }
      100% {
        right: 0px; } }
    #main main .bg-point {
      bottom: 30%;
      left: 25%; }
    #main main .bg {
      padding-top: calc(171px - 60px);
      margin-bottom: 150px; }
      #main main .bg img {
        max-width: 700px; }
    #main main section {
      padding: 0px;
      padding-top: calc(336px - 60px);
      padding-bottom: 500px; }
      #main main section .search .txt {
        font-size: 24px; }
      #main main section .search .visual {
        max-width: 760px;
        margin-top: 20px; }
        #main main section .search .visual img {
          width: 375px;
          height: 123px; }
      #main main section .search.active .txt {
        position: relative;
        width: initial;
        top: initial;
        left: initial;
        z-index: initial; }
      #main main section .search.active .visual {
        display: none; }
      #main main section .search.active .subtitle {
        display: none; }
      #main main section .search.active .searchbar {
        position: static;
        margin: 0 auto;
        margin-top: 42px;
        padding-top: 0px;
        max-width: 760px;
        height: 90px;
        border-radius: 10px 10px 0px 0px;
        box-sizing: border-box;
        box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26); }
        #main main section .search.active .searchbar .dao {
          display: none; }
        #main main section .search.active .searchbar .current {
          border-radius: 0px 0px 10px 10px;
          box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26); }
      #main main section .search .searchbar {
        margin-top: 42px;
        max-width: 760px;
        height: 90px; }
        #main main section .search .searchbar form {
          padding: 31px; }
          #main main section .search .searchbar form .contents {
            height: 27px; }
            #main main section .search .searchbar form .contents .select label {
              height: 27px;
              line-height: 27px;
              width: 51px;
              font-size: 18px; }
            #main main section .search .searchbar form .contents .select select {
              height: 27px;
              line-height: 27px;
              width: 51px;
              font-size: 18px; }
            #main main section .search .searchbar form .contents input {
              height: 27px;
              line-height: 27px;
              padding-left: 32px;
              font-size: 18px; }
            #main main section .search .searchbar form .contents .btn {
              height: 27px;
              font-size: 18px; }
              #main main section .search .searchbar form .contents .btn img {
                width: 22px; }
            #main main section .search .searchbar form .contents .dao {
              position: relative;
              width: 380px; }
              #main main section .search .searchbar form .contents .dao img {
                position: absolute;
                top: -240px;
                left: 0px; }
    #main footer .wrapper {
      display: flex;
      padding: 0px 42px 34px 42px; }
      #main footer .wrapper .logos {
        width: 180px; }
      #main footer .wrapper .policy {
        flex: 1;
        margin-top: 0px; }
      #main footer .wrapper .copy {
        flex: 1;
        margin-top: 0px;
        text-align: right; } }
